body, table tr {
  text-align: center;
}

table {
  border-collapse: collapse;
}
table td {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}
button {
  display: inline-block;
  width: 50px;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
}
#rotation {
  width: 200px
}